<div id="<%= dom_id post %>">
  <div class="card my-5">
    <div class="card-body">
      <h1 class="card-title"><%= post.title %></h1>
      <p class="card-text"><%= post.message %></p>
      <span><%= post.user_id %></span>
      <p>
        <% if user_signed_in? %>
          <% if params[:id].present?%>
            <hr>
            <div class="row text-center">
              <div class="col-6">
              <span class="text-info">LIKES: <%= @likes %></span>

                <%= button_to 'Like', add_like_post_path(@post), method: :post, class: 'btn btn-info' %>
              </div>
              <div class="col-6">
              <span class="text-danger">DISLIKES: <%= @dislikes %></span>

                <%= button_to 'Dislike', add_dislike_post_path(@post), method: :post, class: 'btn btn-danger' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
